body {
    background-color: forestgreen;
    color: white; 
    margin-top: 200px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.birth {
    background-color: hotpink;
    color: yellow; 

}

#annie {

}

#newYears {

}